#root {
  min-width: 100vw;
}

/** Custom values **/

:root {
  --nav-col-bg: rgb(88, 138, 170);
  --header-col-bg: green;
}

/** Header **/

.header {
  margin-bottom: 50px;
}

/* Navbar  */

.navbar {
  background-color: var(--nav-col-bg);
  margin-bottom: 2px;
}

.container-nav {
  max-width: 1280px;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: rgb(225, 214, 214);
}

/** Home section **/

.jumbotron {
  padding-top: 50px;
  background-color: #55a6db;
}

/** Project section **/

/** Animations **/

.fade-in {
  animation: fade-in-slow 2s;
}

.fade-in-slow {
  animation: fade-in-slow 4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
